*{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
}
.pantalla{ 
    width: 420px;
    height: 235px;
    background-image:linear-gradient(to bottom,yellow,yellow ) ;
    margin: 5px 10px 5px 10px;
    border: rgb(158,158,158) 10px solid;
    border-radius: 8px;
    padding: 14px;
    font-size: 20px;
    text-align: center;
}
.caja-principal{
    width: 640px;
    height: 530px;
    background-color: gray;
    background-image: linear-gradient(to bottom, gray, gray);
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.caja-superior{
    width: 610px;
    height: 290px;
    padding: 0px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
}
#titulo{
    font-weight: bold;
    font-size: 23px;
}
#caja-password{
    width: 250px;
    padding: 5px 5px 5px 5px;
    margin-top: 8px;
    border:orange 5px solid;
    border-radius: 2px;
    font-size: 20px; 
}
.arribaespaña{
    text-align: center;
}
#article1{
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
#article2{
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.botones-top{
    width: 55px;
    height: 31px;
    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 7px ;
    border: black 1.5px solid;
    background-image: linear-gradient(to top, black, gray);
    
}
.botones-top4{
    width: 55px;
    height: 31px;
    margin-top: 9px;
    margin-bottom: 13px;
    border-radius: 7px ;
    border: black 1.5px solid;
    background-image: linear-gradient(to top, black, gray);
    
}
.caja-inferior{
    width: 610px;
    height: 220px;
    padding: 0px 15px 10px 15px;
    display: flex;
}
.numeros{
    width: 190px;
    height: 350;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.opciones{
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.relleno{
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.botones-numero{
    width: 48px;
    height: 40px;
    margin: 5px 5px 5px 5px;
    border-radius: 7px;
    border: black 2px solid;
    background-image: linear-gradient(to top, gray, white);
    font-size: 20px;
    font-weight: bold;
}
.boton-op{
    width: 96px;
    height: 40px;
    border-radius: 8px;
    border: black 2px solid;
    margin: 5px 5px 5px 5px;
    font-size: 17px;
    font-weight: bold;
}
.opciones #cancel{
    background-color: red;
    color: white;
}
.opciones #clear{
    background-color:orange;
    color: white;
}
.opciones #ok{
    background-color:green;
    color: white;
}
.opciones #void{
    background-color: rgb(151, 148, 148);
}
.relleno .cajitas{
    width: 96px;
    height: 50px;
    border: 1px black solid;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    color: white;
    font-weight: bold;
}
.relleno #card{
    width: 100px;
    height: 40px;
    background-color: rgb(54, 52, 52);
    border-radius: 10px;
    border: 6px solid rgba(128, 128, 128, 0.534); 
}
.relleno #receipt{
    width: 140px;
    height: 40px;
    background-color: rgb(54, 52, 52);
    border-radius: 10px;
    border: 6px solid rgba(128, 128, 128, 0.534);
}
  
.relleno #cash{
    width: 280px;
    height: 30px;
    background-color: rgb(54, 52, 52);
    border-radius: 10px;
    border: 7px solid rgba(128, 128, 128, 0.534);
}
.relleno #deposit{
    width: 280px;
    height: 30px;  
    background-color: rgb(54, 52, 52);
    border-radius: 10px;
    border: 7px solid rgba(128, 128, 128, 0.534);

}
.pantalla-menu{ 
    width: 420px;
    height: 235px;
    background-image:linear-gradient(to bottom,yellow,yellow);
    margin: 5px 10px 5px 10px;
    border: gray 10px solid;
    border-radius: 8px;
    padding: 14px 0px 14px 0px;
    font-size: 20px;
}
#titulo-menu{
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}
#titulo-menu-gracias{
    
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}
.opciones-padre{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
}
.opciones-padre4{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
    justify-content: flex-end;
}
.opciones-der{ 
    text-align: right;
    width: 180px;
}
.opciones-der4{
    margin-right: 13px;
    font-size: 23px;
    margin-top: 45px;
    text-align: right;
    width: 180px;
}
.opciones-izq p{
    margin-top: 28px;
    font-size: 22px;
    font-weight: bold;
}
.opciones-der p{
    margin-top: 28px;
    font-size: 22px;
    font-weight: bold;
}
.opciones-der1 p{
    margin-top: 28px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
}
.figura-izq{
    height: 190px;
    padding-top: 5px;
}

.opciones-padre2{
    display: flex;
    justify-content: space-between;

}
.opciones-izq3{
    display: flex;
    text-align: left;
    width: 100px;
    flex-wrap: wrap;
    margin-top: 25px;
}
.opciones-der3{
    display: flex;
    align-content: right;
    width: 100px;
    flex-wrap: wrap;
    margin-top: 25px;
    text-align: right;
    clear: both;
    width: 120px;
}
.opciones-izq3 p{
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    margin-left: 10px ;
}
.opciones-der3 p{
    width: 200px;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}
.opciones-padre3{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
#DER{
    width: 150x;
    display: flex;
    height: 215px;
}
#IZQ{
    width: 120px;
    display: flex;
}
.botones-top-2{
    width: 55px;
    height: 31px;
    margin-top: 10px;
    margin-bottom: 9px;
    border-radius: 7px ;
    border: black 1.5px solid;
    background-image: linear-gradient(to top, black, gray);
}
/*-------otrascantidades.html---------*/
.opciones-padre-4{
    width: 400px;
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
}
.opciones-der-4{
    display: flex;
    align-content: right;
    width: 100px;
    flex-wrap: wrap;
    margin-top: 25px;
    text-align: right;
    clear: both;
    width: 120px;
}
.figura-der4{
    display: flex;
    align-items: flex-end;
    height: 160px;
    padding-top: 8px;
}